.news-header {
    margin-top: -100px;
    color: white;
    font-weight: 200;
    margin-bottom: 120px;
}

.card {
    padding-bottom: 35px;
}

.card-title {
    color: black;
    text-decoration: none;
}

.card a {
    text-decoration: none;
}

#articleContent {
    text-indent: 50px;
    text-align: justify;
}